body {
  font-family: Arial, sans-serif;
  background-color: #F2F2F2;
  align-items: center;
  text-align: center;
  height: 100vh;
}
  
  .login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 300px;
    margin: 13% auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #425059;
  }
  
  .login-form input {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #425059;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333c43;
  }
  
  .error-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: center;
  }
  